<div class="container">	
	<section id="inner-headline">
	<div class="container" id="create_chapter">
		<div class="row">
			<div class="col-lg-12">
				<a ng-href="#!/chapter/{{memoriesCtrl.chapter.id}}/show_chapter_details"><h2 class="pageTitle">Rozdział "{{memoriesCtrl.chapter.name}}"</h2></a>
			</div>
		</div>
	</div>
	</section>
	<br />
	
		<!--<div class="row">--> <!--TODO MOVE IT AS DIRECTIVE -->
			<!--<div class="col-sm-12">
			 <div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<p class="pagination-centered text-center">Wybierz grę edukacyjną: &nbsp;&nbsp;&nbsp;</p>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-left add-space">
							<li /><li /><li />-->
							<!--<li class="active add-space"><a ng-href="#!/game/{{memoriesCtrl.chapter.id}}/test"><span class="fa fa-check-square-o fa-2x"></span> TEST</a></li> -->
							<!--<li class="active add-space"><a ng-href="#!/game/{{memoriesCtrl.chapter.id}}/learn"><span class="fa fa-book fa-2x"></span> Nauka</a></li>-->
					<!--		<li class="active add-space"><a ng-click="memoriesCtrl.runInit()"><span class="fa fa-th fa-2x"></span> Pamięć</a></li>	
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>-->
	
	<div class = "row">
		<div class="col-sm-12 col-xs-12">
			<button type="submit" id="runMemories" class="btn btn-lg btn-warning" ng-hide="memoriesCtrl.inGame == true" ng-click = "memoriesCtrl.start()">Rozpocznij nową turę</button>
			
			<!--<div class="timer" ng-class="{critical:memoriesCtrl.isCritical}">
					{{memoriesCtrl.timeLimit | date: 'm:ss'}} 	
			</div>	-->	
		</div>
	</div>
	
	<div class="row" ng-show="memoriesCtrl.endGame == true">	
		<p class="end"><b>JESTEŚ ZWYCIĘZCĄ!</b></p>		
	</div>
	
	<div class = "row">
		<div class = "col-sm-2" ng-repeat = "card in memoriesCtrl.deck">	
			<div class = "card_container {{!card.isFaceUp ? '' : 'flip'}}" ng-click = "memoriesCtrl.isGuarding || memoriesCtrl.check(card)" >
				<div class = "card shadow">
					<div class = "front face"></div>
<!--					<div>-->
						<!--<p class ="back face"> {{memoriesCtrl.countCardShowing(card, $index) == 0  ? card.item.word1[0].name : card.item.word2[0].name}}</p>-->
						<p class ="{{card.isCorrectPair ? 'correctPair' : 'face back'}}">{{$even ? card.item.word1.name : card.item.word2.name}}</p>

				<!--	</div-->
				</div>
			</div>
		</div>
	</div>	
</div>

<!--<div ng-init = "memoriesCtrl.countCardShowing(card, $index)">-->
<!--<div ng-show = "memoriesCtrl.actualCounterShowing < 2">-->
