<section id="banner">	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="img/slides/1.jpg" alt="" />
                <div class="flex-caption container">
                    <h3>Mądre nauczanie...</h3> 
					<p>odbywa się poprzez rozwój i zabawę! <br/>Aby korzystać z platformy musisz być zalogowany</p>
					<!--<a ng-href="#!/account/register" class="btn btn-theme">Zarejestruj konto</a>-->
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider --> 
</section>