<div class="container">		
	<h2>Edycja rozdziału</h2>
	<hr />
	
	<div class="alert alert-danger" role="alert" ng-show = "editChapterCtrl.errors">
		<p>{{editChapterCtrl.errors}}</p>
	</div>
	
	<div class="alert alert-success" role="alert" ng-show = "editChapterCtrl.success">
		<p>{{editChapterCtrl.success}}</p>
	</div>
	
	<form class="form-horizontal" role="form" name="form" ng-submit="editChapterCtrl.edit(editChapterCtrl.actualChapter)">
		<div class="row form-group">
			<label for="chapterName" class="col-sm-3 control-label">Nazwa rozdziału</label>
			<div class="col-sm-9" ng-class="{ 'has-error': form.chapterName.$dirty && form.chapterName.$error.required }">
				<input type="text" id="chapterName" placeholder="Nazwa rozdziału" class="form-control"  ng-model="editChapterCtrl.actualChapter.name" value="{{editChapterCtrl.actualChapter.name}}" autofocus required />
				 <span ng-show="form.chapterName.$dirty && form.chapterName.$error.required" class="help-block">Nazwa rozdziału jest wymagana</span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row form-group">
			<label for="description" class="col-sm-3 control-label">Opis rozdziału</label>
			<div class="col-sm-9" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
				<input type="text" id="description" placeholder="Opis rozdziału" class="form-control"  ng-model="editChapterCtrl.actualChapter.description" value="{{editChapterCtrl.actualChapter.description}}" required />
				 <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">Opis rozdziału jest wymagany</span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row form-group">
			<label for="chapterLang1" class="col-sm-3 control-label">Nazwa języka 1</label>
			<div class="col-sm-9" ng-class="{ 'has-error': form.chapterLang1.$dirty && form.chapterLang1.$error.required }">
				<input type="text" id="chapterLang1" placeholder="Nazwa języka 1" class="form-control"  ng-model="editChapterCtrl.actualChapter.lang1Name" value="{{editChapterCtrl.actualChapter.lang1Name}}" required />
				 <span ng-show="form.chapterLang1.$dirty && form.chapterLang1.$error.required" class="help-block">Nazwa języka jest wymagana</span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row form-group">
			<label for="chapterLang2" class="col-sm-3 control-label">Nazwa języka 2</label>
			<div class="col-sm-9" ng-class="{ 'has-error': form.chapterLang2.$dirty && form.chapterLang2.$error.required }">
				<input type="text" id="chapterLang2" placeholder="Nazwa języka 2" class="form-control"  ng-model="editChapterCtrl.actualChapter.lang2Name" value="{{editChapterCtrl.actualChapter.lang2Name}}" required />
				 <span ng-show="form.chapterLang2.$dirty && form.chapterLang2.$error.required" class="help-block">Nazwa języka jest wymagana</span>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<hr />
		<div class="row">			
			<div class="col-sm-3 col-sm-offset-1">
				<p><b>Wprowadź wyrazy do rozdziału {{editChapterCtrl.actualChapter.name}}</b></p>
			</div>
		</div>
		<div ng-repeat="word in editChapterCtrl.words">
			<div class="row form-group">
				<div class="col-sm-3 control-label">
					<button class="fa fa-minus from-control fa-2x" aria-hidden="true" ng-hide="editChapterCtrl.words.length <=2" ng-click="editChapterCtrl.removeWord($index)"> </i>
				</div>
				<div class="col-sm-3">
					<input type="text" placeholder="wyraz w języku '{{editChapterCtrl.actualChapter.lang1Name || '1'}}'" class="form-control"  ng-model="word.word1.name"  value="{{word.word1.name}}"required />
				</div>
				<div class="col-sm-3">
					<input type="text" placeholder="wyraz w języku '{{editChapterCtrl.actualChapter.lang2Name  || '2'}}'" class="form-control"  ng-model="word.word2.name"  value="{{word.word2.name}}"required />
				</div>
				<!-- <div class="col-sm-3">-->		
				<!-- 	<i class="fa fa-picture-o" file-model="image/*"></i>--> <!-- <input type="file" id="img" name="img" ng-file-upload-model="chapter.img"-->
				<!-- 	<i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i>-->
				<!-- </div>	-->
				<div class="clearfix">  </div>
			</div>
			<div class="row form-group">
				<button class="col-sm-offset-9 col-sm-3 fa fa-plus fa-2x from-control" aria-hidden="true" ng-show="$last" ng-click="editChapterCtrl.addNewWord()"> </i>
			</div> 
		</div>
		
	
		<div class="form-actions row">
			<div class="col-sm-4 col-sm-offset-3">
				<button type="submit" class="success btn btn-primary btn-block">Zaktualizuj rozdział</button>
			</div>
		</div>			
	</form>
</div>
